@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Josefin+Sans:wght@400;700&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font: 700 48px/1.85 "Josefin Sans", sans-serif;
	color: #fff;
	letter-spacing: 3px;
}

h2 {
	font: 400 36px/1.38 'Aleo', serif;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font: 300 16px/1.62 "Josefin Sans", sans-serif;
	letter-spacing: 0.1px;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}


/* main */


.main-border{
	border: 15px #fff solid;
}

.ba-container {
	max-width: 1150px;
	padding: 0 20px;
}

.ba-button {
	background: #5474FD;
	border: 2px solid #5474FD;
	padding: 16px 35px 15px 36px;
	letter-spacing: 1.2px;
	font: 400 16px/1.62 'Aleo', serif;
}

.ba-button:hover {
  border: 2px solid #fff;
  opacity: 0.9;
}

.ba-logo{
	color: #fff;
	font: 500 24px/1.1 "Josefin Sans", sans-serif;
	letter-spacing: 1.8px;
}

.ba-logo--footer{
	letter-spacing: 3px;
	margin-bottom: 10px;
}


/*  section ba-safe-travel  */


.ba-safe-travel {
	min-height: 100vh;
	background: url(../img/bg1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.ba-safe-travel__intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 85px);
}

.ba-safe-travel__title {
	margin-bottom: 8px;
	line-height: 50px;
	
}

.ba-safe-travel__subtitle {
	margin: 0;
	margin-bottom: 50px;
	font: 300 22px/0.85 "Josefin Sans", sans-serif;
	letter-spacing: 5.5px;
}

.ba-search-form{
	position: relative;
	width: 60%;
   max-width: 650px;
   display: flex;
   margin-bottom: 125px;
}

.ba-search-button{
	background: #5474FD;
	border: 2px solid #fff;
	font: 400 14px/0.54 'Aleo', serif;
	letter-spacing: 1.7px;
	padding: 25px 50px 20px 30px;
	outline:none;
}

.ba-search-button:hover{
	background: #548ffd;
}

.ba-search-button:focus{
	border: 2px solid #548ffd;
}

.ba-search-icon{
	position: absolute;
	right: 20px;
	top: 20px;
}

.ba-search-form [type=search]{
	text-align: center;
	width: 100%;
   height: 60px;
	color: #999999;
	font: 400 14px/0.54 "Josefin Sans", sans-serif;
	letter-spacing: 1.8px;
	outline: none;
	border: none;
}

.ba-scroll-down{
	display: flex;
	color: #fff;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font: 400 14px/0.54 "Josefin Sans", sans-serif;
	letter-spacing: 2px;
}

.ba-scroll-down:hover{
	opacity: 0.6;
}

.ba-scroll-down span{
	margin-bottom: 15px;
}


/* Navigation */


.ba-logo:hover{
	opacity: 0.6;
}

.ba-nav {
	background: #5474FD;
	position: absolute;
	left: 0;
   right: 0;
   bottom: 0;
}

.ba-nav__list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font: 400 14px/0.54 'Aleo', serif;
	margin: 0;
	padding: 15px 0 10px;
}


.ba-nav__item:hover {
	opacity: 0.6;
}

.ba-nav__list li + li {
	margin-left: 42px;
}

.ba-nav-row{
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* section ba-choose-us */


.ba-choose-us{
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
	padding: 120px 0;
}

.ba-choose-us__main{
	display: flex;

}

.ba-choose-us__text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 75px 0 0 4px;
}

.ba-choose-us__text p {
	margin: 0 0 28px;
}

.ba-choose-us__content{
margin-bottom: 18px;
}

.ba-choose-us__title{
	margin-bottom: 50px;
}

.ba-choose-us__house{
	margin-left: 15%;
} 

.ba-choose-us__big-rock{
	display: block;
	margin-left: auto;
}


/* section ba-instruction */


.ba-instruction{
	background: #333333;
	padding: 100px 0 105px;
}

.ba-instruction__main{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 60px 0 70px;
	position: relative;
}

.ba-instruction__dashed-svg{
	position: absolute;
	top: -40%;
	left: 15%;
	z-index: 2;
}

.ba-instruction__item{
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 3;
}

.ba-instruction__item:nth-child(odd) svg {
	margin-bottom: 25px;
	background: #333333;
}

.ba-instruction__item:nth-child(even){
	margin-top: -22px;
}


.ba-instruction__title{
	font: 400 36px/1.38 'Aleo', serif;
}


/* Section ba-main-country */


.ba-country {
	background: url(../img/bg4.jpg) no-repeat;
	background-size: cover;
	padding: 230px 0 100px;
}


.ba-country__main {
	background: rgba(0, 0, 0, 0.7);
	padding: 45px 15px 50px 30px;
	font: 400 20px/1.3 "Josefin Sans", sans-serif;
}

.ba-country__loc {
letter-spacing: 2px;
margin-bottom: 20px;
}

.ba-country__title {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.ba-country__text{
	font-size: 16px;
	margin-bottom: 40px;
}

.ba-country--second{
	background: url(../img/bg5.jpg) no-repeat;
	background-size: cover;
}

.ba-col-6--left {
	margin-left: auto;
}


/* Section tourist-say */


.tourist-say {
	background: url(../img/bg6.jpg) no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 200px;
}

.tourist-say__title{
	letter-spacing: 0.35px;
	text-align: center;
	margin-bottom: 90px;
}

.tourist-say__post{
	display: flex;
}

.tourist-say__comment {
	background: #333333;
	padding: 45px 50px 0 60px;
}

.tourist-say__author {
	font: 400 20px/1.3 "Josefin Sans", sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	margin-bottom: 35px;
}

.tourist-say__content p span{
	position: relative;
	bottom: 10px;
}


/* footer */


.ba-footer{
	background: #232323;
}

.ba-footer__main{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 115px;
	padding-bottom: 50px;
}
 
.ba-footer__title {
margin-bottom: 25px;
}

.ba-footer__social-networks a + a {
margin-left: 20px;
}

.ba-footer__social-networks a:hover {
	color: #5474FD;
}